@font-face {
  font-family: "fixel";
  src: url("../src/assets/fonts/FixelDisplay-Bold.otf") format("opentype");
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center !important;
  font-family: "fixel" !important;
  background-color: black !important;
  color: #fff !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  display: none;
}

.header-title {
  font-size: 80px;
}

#header-tagline {
  font-size: 20px;
  opacity: 0.6;
  letter-spacing: 1.5px;
}

.header-img {
  height: 100px;
  width: auto;
}

.coin-carousel {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='543' preserveAspectRatio='none' viewBox='0 0 1440 543'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='1440' height='543' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M0 10.51L10 7.9L20 43.76L30 39.92L40 72.02L50 18.47L60 11.86L70 48.4L80 23.51L90 26.01L100 59.28L110 66.42L120 73.16L130 91.89L140 147.72L150 198.69L160 142.69L170 164.08L180 133.68L190 162.69L200 111.39L210 72.08L220 119.92L230 180.19L240 229.88L250 229.5L260 205.59L270 175.67L280 224.29L290 279.36L300 273.94L310 262.36L320 309.96L330 364.56L340 390.68L350 339.44L360 355.56L370 356.01L380 373.7L390 359.19L400 352.03L410 338.22L420 390.08L430 390.96L440 386.03L450 381.13L460 401.31L470 415.48L480 386.28L490 411.58L500 369.63L510 327.59L520 307.5L530 321.57L540 389.28L550 384.47L560 381.79L570 415.1L580 389.59L590 392.93L600 448.17L610 465.88L620 439.56L630 374.95L640 398.65L650 331.26L660 312.29L670 310.13L680 259.49L690 255.09L700 224.92L710 224.06L720 230.88L730 248.1L740 217.41L750 168.73L760 191.46L770 160.71L780 140.34L790 107.84L800 73.58L810 122.98L820 106.81L830 125.5L840 184.17L850 186.46L860 223.59L870 205.88L880 166L890 185.97L900 124.64L910 189.5L920 155.13L930 136.47L940 196.94L950 138.56L960 121.88L970 180.53L980 187.94L990 196.26L1000 177.11L1010 191.05L1020 228.58L1030 204.5L1040 174.75L1050 237.78L1060 196.75L1070 194.12L1080 131.06L1090 77.8L1100 99.94L1110 54.39L1120 48.61L1130 1.8L1140 47.94L1150 108.08L1160 54.59L1170 15.53L1180 71.88L1190 37.61L1200 76.28L1210 129.84L1220 86.09L1230 144.48L1240 115.11L1250 173.95L1260 198.27L1270 209.05L1280 206.56L1290 264.63L1300 206.88L1310 213.18L1320 226.19L1330 286.56L1340 330.14L1350 324L1360 335.82L1370 336.68L1380 276.43L1390 322.36L1400 260.57L1410 242.5L1420 277.17L1430 335.78L1440 290.18' stroke='%23224b75' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 10.51L10 7.9L20 43.76L30 39.92L40 72.02L50 18.47L60 11.86L70 48.4L80 23.51L90 26.01L100 59.28L110 66.42L120 73.16L130 91.89L140 147.72L150 198.69L160 142.69L170 164.08L180 133.68L190 162.69L200 111.39L210 72.08L220 119.92L230 180.19L240 229.88L250 229.5L260 205.59L270 175.67L280 224.29L290 279.36L300 273.94L310 262.36L320 309.96L330 364.56L340 390.68L350 339.44L360 355.56L370 356.01L380 373.7L390 359.19L400 352.03L410 338.22L420 390.08L430 390.96L440 386.03L450 381.13L460 401.31L470 415.48L480 386.28L490 411.58L500 369.63L510 327.59L520 307.5L530 321.57L540 389.28L550 384.47L560 381.79L570 415.1L580 389.59L590 392.93L600 448.17L610 465.88L620 439.56L630 374.95L640 398.65L650 331.26L660 312.29L670 310.13L680 259.49L690 255.09L700 224.92L710 224.06L720 230.88L730 248.1L740 217.41L750 168.73L760 191.46L770 160.71L780 140.34L790 107.84L800 73.58L810 122.98L820 106.81L830 125.5L840 184.17L850 186.46L860 223.59L870 205.88L880 166L890 185.97L900 124.64L910 189.5L920 155.13L930 136.47L940 196.94L950 138.56L960 121.88L970 180.53L980 187.94L990 196.26L1000 177.11L1010 191.05L1020 228.58L1030 204.5L1040 174.75L1050 237.78L1060 196.75L1070 194.12L1080 131.06L1090 77.8L1100 99.94L1110 54.39L1120 48.61L1130 1.8L1140 47.94L1150 108.08L1160 54.59L1170 15.53L1180 71.88L1190 37.61L1200 76.28L1210 129.84L1220 86.09L1230 144.48L1240 115.11L1250 173.95L1260 198.27L1270 209.05L1280 206.56L1290 264.63L1300 206.88L1310 213.18L1320 226.19L1330 286.56L1340 330.14L1350 324L1360 335.82L1370 336.68L1380 276.43L1390 322.36L1400 260.57L1410 242.5L1420 277.17L1430 335.78L1440 290.18L1440 543L0 543z' fill='url(%26quot%3b%23SvgjsLinearGradient1041%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='1440' height='543' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1041'%3e%3cstop stop-opacity='0.65' stop-color='%23224b75' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23508dcc' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-close {
  background-color: #fff !important;
}

.modal-content {
  background-color: black !important;
  height: auto !important;
}
.truncated {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#search-input::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 0.6;
}

.chart-scrollable {
  width: 100%;
  overflow-x: auto;
}

.chart-container {
  min-width: 600px;
  height: 80vh;
}

#coin-img {
  height: 60px;
}

#coin-row {
  font-size: 18px;
}

#header-row {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 50px;
  }
  #header-tagline {
    font-size: 16px;
  }

  .chart-container {
    height: 60vh;
  }
  #coin-img {
    height: 30px;
  }

  #coin-row {
    font-size: 12px;
  }

  #header-row {
    font-size: 14px;
  }
}
